
 
    {% extends 'base.html' %}
     {% load static%}
     {% block extra_head %}
        <link rel="stylesheet" id="bg-switcher-css" href="{% static 'ekka_webapp/assets/css/backgrounds/bg-4.css' %}">
        <link rel="stylesheet" href="{% static 'ekka_webapp/assets/css/style.css' %}" />
        <link rel="stylesheet" href="{% static 'ekka_webapp/assets/css/responsive.css' %}" />
        {% endblock %}

     {% block content %}
    <div id="ec-overlay"><span class="loader_img"></span></div>

    

    <!-- Ekka Cart Start -->
    <div class="ec-side-cart-overlay"></div>
    <div id="ec-side-cart" class="ec-side-cart">
        <div class="ec-cart-inner">
            <div class="ec-cart-top">
                <div class="ec-cart-title">
                    <span class="cart_title">My Cart</span>
                    <button class=" rounded-3 ec-close">×</button>
                </div>
                <ul class="eccart-pro-items">
                    <li>
                        <a href="product-left-sidebar.html" class="sidecart_pro_img" ><img
                                src="{% static 'ekka_webapp/assets/images/product-image/93_1.jpg ' %}" alt="product"></a>
                        <div class="ec-pro-content">
                            <a href="single-product-left-sidebar.html" class="cart_pro_title">Mens Winter Leathers Jackets</a>
                            <span class="cart-price"><span>₹49.00</span> x 1</span>
                            <div class="qty-plus-minus">
                                <input class="qty-input" type="text" name="ec_qtybtn" value="1" />
                            </div>
                            <a href="#" class="remove">×</a>
                        </div>
                    </li>
                    <li>
                        <a href="product-left-sidebar.html" class="sidecart_pro_img"><img
                                src="{% static 'ekka_webapp/assets/images/product-image/96_1.jpg ' %}" alt="product"></a>
                        <div class="ec-pro-content">
                            <a href="product-left-sidebar.html" class="cart_pro_title">Running & Trekking Shoes - White</a>
                            <span class="cart-price"><span>₹150.00</span> x 1</span>
                            <div class="qty-plus-minus">
                                <input class="qty-input" type="text" name="ec_qtybtn" value="1" />
                            </div>
                            <a href="#" class="remove">×</a>
                        </div>
                    </li>
                    <li>
                        <a href="product-left-sidebar.html" class="sidecart_pro_img"><img
                                src="{% static 'ekka_webapp/assets/images/product-image/111_1.jpg ' %}" alt="product"></a>
                        <div class="ec-pro-content">
                            <a href="product-left-sidebar.html" class="cart_pro_title">Rose Gold Peacock Earrings</a>
                            <span class="cart-price"><span>₹950.00</span> x 1</span>
                            <div class="qty-plus-minus">
                                <input class="qty-input" type="text" name="ec_qtybtn" value="1" />
                            </div>
                            <a href="#" class="remove">×</a>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="ec-cart-bottom">
                <div class="cart-sub-total">
                    <table class="table cart-table">
                        <tbody>
                            <tr>
                                <td class="text-left">Sub-Total :</td>
                                <td class="text-right">₹300.00</td>
                            </tr>
                            <tr>
                                <td class="text-left">VAT (20%) :</td>
                                <td class="text-right">₹60.00</td>
                            </tr>
                            <tr>
                                <td class="text-left">Total :</td>
                                <td class="text-right primary-color">₹360.00</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="cart_btn">
                    <a href="cart.html" class="btn btn-primary">View Cart</a>
                    <a href="checkout.html" class="btn btn-secondary">Checkout</a>
                </div>
            </div>
        </div>
    </div>
    <!-- Ekka Cart End -->

    <!-- Main Slider Start -->
    <div class="ec-main-slider section section-space-pb">
        <div class="container">
            <div class="ec-slider swiper-container main-slider-nav main-slider-dot">
            <!-- Main slider -->
            <div class="swiper-wrapper">
                <div class="ec-slide-item swiper-slide d-flex slide-1">
                    <div class="container align-self-center">
                        <div class="row">
                            <div class="col-sm-12 align-self-center">
                                <div class="ec-slide-content slider-animation">
                                    <h2 class="ec-slide-stitle">Sale offer</h2>
                                    <h1 class="ec-slide-title">New Fashion Summer Sale</h1>
                                    <div class="ec-slide-desc">
                                        <p>starting at ₹ <b>299</b>.99</p>
                                        <a href="/store" class="btn btn-lg btn-primary">Shop Now <i
                                                class="ecicon eci-angle-double-right" aria-hidden="true"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="ec-slide-item swiper-slide d-flex slide-2">
                    <div class="container align-self-center">
                        <div class="row">
                            <div class="col-sm-12 align-self-center">
                                <div class="ec-slide-content slider-animation">
                                    <h2 class="ec-slide-stitle">Trending item</h2>
                                    <h1 class="ec-slide-title">Women's latest fashion sale</h1>
                                    <div class="ec-slide-desc">
                                        <p>starting at ₹ <b>499</b>.00</p>
                                        <a href="/store" class="btn btn-lg btn-primary">Shop Now <i
                                                class="ecicon eci-angle-double-right" aria-hidden="true"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="ec-slide-item swiper-slide d-flex slide-3">
                    <div class="container align-self-center">
                        <div class="row">
                            <div class="col-sm-12 align-self-center">
                                <div class="ec-slide-content slider-animation">
                                    <h2 class="ec-slide-stitle">Trending accessories</h2>
                                    <h1 class="ec-slide-title">Modern Sunglasses</h1>
                                    <div class="ec-slide-desc">
                                        <p>starting at ₹ <b>1599</b>.00</p>
                                        <a href="/store" class="btn btn-lg btn-primary">Shop Now <i
                                                class="ecicon eci-angle-double-right" aria-hidden="true"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="swiper-pagination swiper-pagination-white"></div>
            <div class="swiper-buttons">
                <div class="swiper-button-next"></div>
                <div class="swiper-button-prev"></div>
            </div>
            </div>
    </div>
    </div>  
    <!-- Main Slider End -->

    <!--  category Section Start -->
    <!--  For developer (More icons find in https://www.svgrepo.com/) -->
    <section class="section ec-category-section section-space-p">
        <div class="container">
            <div class="row d-none">
                <div class="col-md-12">
                    <div class="section-title">
                        <h2 class="ec-title">Top Category</h2>
                    </div>
                </div>
            </div>
            <div class="row margin-minus-b-15 margin-minus-t-15">
                <div id="ec-cat-slider" class="ec-cat-slider owl-carousel">
                <div class="ec_cat_content ec_cat_content_1">
                    <div class="ec_cat_inner ec_cat_inner-1">
                        <div class="ec-category-image">
                            <img src="{% static 'ekka_webapp/assets/images/icons/dress-8.svg ' %}" class="svg_img" alt="drink" />
                        </div>
                        <div class="ec-category-desc">
                            <h3>dress & frock <span title="Category Items">(53)</span></h3>
                            <a href="shop-left-sidebar-col-3.html" class="cat-show-all">Show All <i class="ecicon eci-angle-double-right"
                                    aria-hidden="true"></i></a>
                        </div>
                    </div>
                </div>
                <div class="ec_cat_content ec_cat_content_2">
                    <div class="ec_cat_inner ec_cat_inner-2">
                        <div class="ec-category-image">
                            <img src="{% static 'ekka_webapp/assets/images/icons/coat-8.svg ' %}" class="svg_img" alt="drink" />
                        </div>
                        <div class="ec-category-desc">
                            <h3>Winter wear <span title="Category Items">(58)</span></h3>
                            <a href="shop-left-sidebar-col-3.html" class="cat-show-all">Show All <i class="ecicon eci-angle-double-right"
                                    aria-hidden="true"></i></a>
                        </div>
                    </div>
                </div>
                <div class="ec_cat_content ec_cat_content_3">
                    <div class="ec_cat_inner ec_cat_inner-3">
                        <div class="ec-category-image">
                            <img src="{% static 'ekka_webapp/assets/images/icons/glasses-8.svg ' %}" class="svg_img" alt="drink" />
                        </div>
                        <div class="ec-category-desc">
                            <h3>glasses & lens <span title="Category Items">(76)</span></h3>
                            <a href="shop-left-sidebar-col-3.html" class="cat-show-all">Show All <i class="ecicon eci-angle-double-right"
                                    aria-hidden="true"></i></a>
                        </div>
                    </div>
                </div>
                <div class="ec_cat_content ec_cat_content_4">
                    <div class="ec_cat_inner ec_cat_inner-4">
                        <div class="ec-category-image">
                            <img src="{% static 'ekka_webapp/assets/images/icons/shorts-8.svg ' %}" class="svg_img" alt="drink" />
                        </div>
                        <div class="ec-category-desc">
                            <h3>shorts & jeans<span title="Category Items">(49)</span></h3>
                            <a href="shop-left-sidebar-col-3.html" class="cat-show-all">Show All <i class="ecicon eci-angle-double-right"
                                    aria-hidden="true"></i></a>
                        </div>
                    </div>
                </div>
                <div class="ec_cat_content ec_cat_content_5">
                    <div class="ec_cat_inner ec_cat_inner-5">
                        <div class="ec-category-image">
                            <img src="{% static 'ekka_webapp/assets/images/icons/tee-8.svg ' %}" class="svg_img" alt="drink" />
                        </div>
                        <div class="ec-category-desc">
                            <h3>T-shirts<span title="Category Items">(25)</span></h3>
                            <a href="shop-left-sidebar-col-3.html" class="cat-show-all">Show All <i class="ecicon eci-angle-double-right"
                                    aria-hidden="true"></i></a>
                        </div>
                    </div>
                </div>
                <div class="ec_cat_content ec_cat_content_6">
                    <div class="ec_cat_inner ec_cat_inner-6">
                        <div class="ec-category-image">
                            <img src="{% static 'ekka_webapp/assets/images/icons/jacket-8.svg ' %}" class="svg_img" alt="drink" />
                        </div>
                        <div class="ec-category-desc">
                            <h3>jacket<span title="Category Items">(35)</span></h3>
                            <a href="shop-left-sidebar-col-3.html" class="cat-show-all">Show All <i class="ecicon eci-angle-double-right"
                                    aria-hidden="true"></i></a>
                        </div>
                    </div>
                </div>
                <div class="ec_cat_content ec_cat_content_7">
                    <div class="ec_cat_inner ec_cat_inner-7">
                        <div class="ec-category-image">
                            <img src="{% static 'ekka_webapp/assets/images/icons/watch-8.svg ' %}" class="svg_img" alt="drink" />
                        </div>
                        <div class="ec-category-desc">
                            <h3>watch<span title="Category Items">(89)</span></h3>
                            <a href="shop-left-sidebar-col-3.html" class="cat-show-all">Show All <i class="ecicon eci-angle-double-right"
                                    aria-hidden="true"></i></a>
                        </div>
                    </div>
                </div>
                <div class="ec_cat_content ec_cat_content_8">
                    <div class="ec_cat_inner ec_cat_inner-8">
                        <div class="ec-category-image">
                            <img src="{% static 'ekka_webapp/assets/images/icons/hat-8.svg ' %}" class="svg_img" alt="drink" />
                        </div>
                        <div class="ec-category-desc">
                            <h3>hat & caps <span title="Category Items">(65)</span></h3>
                            <a href="shop-left-sidebar-col-3.html" class="cat-show-all">Show All <i class="ecicon eci-angle-double-right"
                                    aria-hidden="true"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>
    </section>
    <!--category Section End -->

    <!-- START Product Transparent Style -->
	<section class="sec-tp el-prod section-space-p">
		<div class="container">
			<div class="row">
				<div class="col-md-12 text-center">
					<div class="section-title">
						<h2 class="ec-bg-title">All Products</h2>
						<h2 class="ec-title">All Products</h2>
						<p class="sub-title">Browse The Collection of Top Categories</p>
					</div>
				</div>
			</div>
			<div class="row">
                {% for product in products%}
                
                <!-- START single card -->
				<div class="col-lg-3 col-md-6 col-sm-6 my-4" >
					<div class="ec-product-tp">
						<div class="ec-product-image" >
							<a href="{{product.Category_Main.get_url}}{{product.sub_category.slug}}/{{product.slug}}">  
								<img src="{{ product.images.url }}" class="img-center" alt="">
							</a>
                            {% if product.is_available %}
							<span class="ec-product-ribbon">In Stock</span>
                            {% else %}
                            <span class="ec-product-ribbon">Out of Stock</span>
                            {% endif %}
							<div class="ec-link-icon">
								<a href="#" data-tip="Add to Wishlist"><img src="{% static 'ekka_webapp/assets/images/icons/wishlist.svg '%}"
										class="svg_img header_svg pro_svg" alt="wishlist" /></a>
								<a href="#" data-tip="Compare"><img src="{% static 'ekka_webapp/assets/images/icons/compare.svg '%}"
										class="svg_img pro_svg" alt="compare" /></a>
								<a href="#" data-tip="Quick View"><img src="{% static 'ekka_webapp/assets/images/icons/quickview.svg '%}"
										class="svg_img pro_svg" alt="quick view" /></a>
							</div>
						</div>
						<div class="ec-product-body">
                            
							<h3 class="ec-title"><a href="#">{{product.product_name}}</a></h3>
                            {{product.Category_Main}} - {{product.sub_category}}
							<p class="ec-description">
								{{product.short_desp}}
							</p>
							<ul class="ec-rating">
								<li class="ecicon eci-star fill"></li>
								<li class="ecicon eci-star fill"></li>
								<li class="ecicon eci-star fill"></li>
								<li class="ecicon eci-star fill"></li>
								<li class="ecicon eci-star"></li>
							</ul>
							<div class="ec-price"><span> ₹{{product.mrp_price}}</span> ₹{{product.price}}</div>
							<div class="ec-link-btn">
                            
								<a class=" ec-add-to-cart" href="{{product.Category_Main.get_url}}{{product.sub_category.slug}}/{{product.slug}}">View Details</a>
                        
                                
							</div>
						</div>
					</div>
				</div>
                    <!-- END single card -->
                {% endfor %}
				
			</div>
		</div>
	</section>
	<!--/END Product Default Style -->
    
   

    {% endblock %}

