{% extends 'base.html' %}
{% load static%}
{% load crispy_forms_tags %}
{% block extra_head %}
<link rel="stylesheet" id="bg-switcher-css" href="{% static 'ekka_webapp/assets/css/backgrounds/bg-4.css' %}">
<link rel="stylesheet" href="{% static 'ekka_webapp/assets/css/style.css' %}" />
<link rel="stylesheet" href="{% static 'ekka_webapp/assets/css/responsive.css' %}" />
<link rel="stylesheet" href="{% static 'ekka_webapp/assets/css/vendor/ecicons.min.css' %}" />
{% endblock %}
{% block content %}

    <!-- Ec breadcrumb start -->
    <div class="sticky-header-next-sec  ec-breadcrumb section-space-mb">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="row ec_breadcrumb_inner">
                        <div class="col-md-6 col-sm-12">
                            <h2 class="ec-breadcrumb-title">User History</h2>
                        </div>
                        <div class="col-md-6 col-sm-12">
                            <!-- ec-breadcrumb-list start -->
                            <ul class="ec-breadcrumb-list">
                                <li class="ec-breadcrumb-item"><a href="index.html">Home</a></li>
                                <li class="ec-breadcrumb-item active">History</li>
                            </ul>
                            <!-- ec-breadcrumb-list end -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Ec breadcrumb end -->

    <!-- User history section -->
    <section class="ec-page-content ec-vendor-uploads ec-user-account section-space-p">
        <div class="container">
            <div class="row">
                {% include  'includes/dashboard_sidebar.html'%}
                <div class="ec-shop-rightside col-lg-9 col-md-12">
                    <div class="ec-vendor-dashboard-card">
                        <div class="ec-vendor-card-header">
                            <h5 style="text-transform: capitalize; color:#2f2695;">{{profile.full_name}}'s <br> <p style="font-size:15px; color:#8d77a3;"> Order's History<br>
                            </p></h5>
                            <div class="ec-header-btn">
                                <a class="btn btn-lg btn-primary rounded-3" href="../store">Shop Now</a>
                            </div>
                        </div>
                        <div class="ec-vendor-card-body">
                            <div class="ec-vendor-card-table">
                                <table class="table ec-table">
                                    <thead>
                                        <tr>
                                            <th scope="col">Sl no</th>
                                            <th scope="col">Orderd ID</th>
                                            <th scope="col">Image</th>
                                            <th scope="col">Product</th>
                                            <th scope="col">Orderd Date & time</th>
                                            <th scope="col">Price</th>
                                            <th scope="col">Payment</th>
                                            <th scope="col">Actions</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for item in product_ordered %}
                                        <tr>
                                            <th scope="row"><span>{{forloop.counter}}</span></th>
                                            <th scope="row"><span>{{item.order.order_number}}</span></th>
                                            <td><img class="prod-img mt-4 rounded-2" src="{{item.product.images.url}}"
                                                    alt="product image" ></td>
                                            <td><span><b>{{item.product.product_name}}</b></span>

                                            {% comment %} Adding variation product {% endcomment %}
            
                                            {% if item.variation.all  %}
                                                
                                                {% for product in item.variation.all%}
                                                    <div>
                                                        <b>{{product.Variation_category}}</b> : {{product.Variation_value}}<br>
                                                    </div>
                                               {% endfor %}
                                            {% endif %}

                                              {% comment %} End vartion adding here {% endcomment %}
                                            
                                            </td>

                                            <td><span>{{item.order.updated_at}}</span></td>
                                            <td><span>₹ <b>{{item.product.price}}</b></span></td>
                                            <td><span><b>{{item.payment.status}}</b></span></td>
                                            <td><span class="tbl-btn"><a class="btn btn-lg btn-primary rounded-3"
                                                        href="#">View</a></span></td>
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End User history section -->

    {% endblock %}