{% extends 'base.html' %}
{% load static%}
{% load crispy_forms_tags %}
{% block extra_head %}
<link rel="stylesheet" id="bg-switcher-css" href="{% static 'ekka_webapp/assets/css/backgrounds/bg-4.css' %}">
<link rel="stylesheet" href="{% static 'ekka_webapp/assets/css/style.css' %}" />
<link rel="stylesheet" href="{% static 'ekka_webapp/assets/css/responsive.css' %}" />
<link rel="stylesheet" href="{% static 'ekka_webapp/assets/css/vendor/ecicons.min.css' %}" />

<style>
    .blink_me {
        animation: blinker 1s linear infinite;
      }
      
      @keyframes blinker {
        50% {
          opacity: 0;
        }
      }
</style>
{% endblock %}
{% block content %}






    <!-- Ec breadcrumb start -->
    <div class="sticky-header-next-sec  ec-breadcrumb section-space-mb">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="row ec_breadcrumb_inner">
                        <div class="col-md-6 col-sm-12">
                            <h2 class="ec-breadcrumb-title">User Profile</h2>
                        </div>
                        <div class="col-md-6 col-sm-12">
                            <!-- ec-breadcrumb-list start -->
                            <ul class="ec-breadcrumb-list">
                                <li class="ec-breadcrumb-item"><a href="/">Home</a></li>
                                <li class="ec-breadcrumb-item active">Profile</li>
                            </ul>
                            <!-- ec-breadcrumb-list end -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Ec breadcrumb end -->

    <!-- User profile section -->
    <section class="ec-page-content ec-vendor-uploads ec-user-account section-space-p">
        <div class="container">
            <div class="row">
                <!-- Sidebar Area Start -->
                {% include  'includes/dashboard_sidebar.html'%}
                <div class="ec-shop-rightside col-lg-9 col-md-12">
                    <div class="ec-vendor-dashboard-card ec-vendor-setting-card">
                        <div class="ec-vendor-card-body">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="ec-vendor-block-profile">
                                        <div class="ec-vendor-block-img space-bottom-30" style="float:right;">
                                            
                                            {% if profile.banner_pic.url %}
                                            <div  class="svg_img pro_svg" alt="edit" style="float:right; background-image:url({{ profile_data.profile_picture.url }});" <a href="javasript:void(0)" data-link-action="editmodal" title="Edit Detail" data-bs-toggle="modal" data-bs-target="#edit_modal"><img src="{% static 'ekka_webapp/assets/images/icons/edit.svg' %}"
                                                class="svg_img pro_svg" alt="edit" /></a>
                                            </div>
                                            {% else %}
                                            <div class="ec-vendor-block-detail" style="float: right;">
                                            {% endif %}
                                                

                                                {% if profile_data.profile_picture %}
                                                <img class="v-img svg_img pro_svg" src="{{ profile_data.profile_picture.url }}"  alt="edit">
                                                {% else %}
                                                <img class="v-img" src="https://t3.ftcdn.net/jpg/03/46/83/96/360_F_346839683_6nAPzbhpSkIpb8pmAwufkC7c5eD7wYws.jpg" alt="vendor image">
                                                {% endif %}
                                                
                                            </div>
                                            <h2>Hey, <b><span>{{profile.full_name}}!</span></b></h2>
                                            <p>From your account you can easily view and track orders. You can manage and change your account information like address, contact information and history of orders.</p>
                                            {% for message in messages %} 
                                            <br>
                                            <strong> <h5 class="blink_me">{{ message }}</h5></strong>
					                            {% endfor %}
                                        </div>
                                        <h5>Account Information</h5>

                                        <div class="row">
                                            <div class="col-md-6 col-sm-12">
                                                <div class="ec-vendor-detail-block ec-vendor-block-email space-bottom-30">
                                                    <h6>Email Address <a href="javasript:void(0)" data-link-action="editmodal" title="Edit Detail" data-bs-toggle="modal" data-bs-target="#edit_modal"><img src="{% static 'ekka_webapp/assets/images/icons/edit.svg' %}"
                                                        class="svg_img pro_svg" alt="edit" /></a></h6>
                                                    <ul>
                                                        <li><strong>Email Address : </strong>{{profile.email}}</li>
                                                    </ul>
                                                </div>
                                            </div>
                                            <div class="col-md-6 col-sm-12">
                                                <div class="ec-vendor-detail-block ec-vendor-block-contact space-bottom-30">
                                                    <h6>Contact nubmer<a href="javasript:void(0)" data-link-action="editmodal" title="Edit Detail" data-bs-toggle="modal" data-bs-target="#edit_modal"><img src="{% static 'ekka_webapp/assets/images/icons/edit.svg' %}"
                                                        class="svg_img pro_svg" alt="edit" /></a></h6>
                                                    <ul>
                                                        <li><strong>Phone Nubmer: </strong>{{profile.phone_number}}</li>
                                                    </ul>
                                                </div>
                                            </div>
                                            <div class="col-md-6 col-sm-12">
                                                <div class="ec-vendor-detail-block ec-vendor-block-address mar-b-30">
                                                    <h6>Shipping Address<a href="javasript:void(0)" data-link-action="editmodal" title="Edit Detail" data-bs-toggle="modal" data-bs-target="#edit_modal"><img src="{% static 'ekka_webapp/assets/images/icons/edit.svg' %}"
                                                        class="svg_img pro_svg" alt="edit" /></a></h6>
                                                    <ul>
                                                        <li><strong>Home Address: </strong>{{profile_data.full_address}}</li>
                                                    </ul>
                                                </div>
                                            </div>
                                            <div class="col-md-6 col-sm-12">
                                                <div class="ec-vendor-detail-block ec-vendor-block-address">
                                                    <h6>My Bio<a href="javasript:void(0)" data-link-action="editmodal" title="Edit Detail" data-bs-toggle="modal" data-bs-target="#edit_modal"><img src="{% static 'ekka_webapp/assets/images/icons/edit.svg' %}"
                                                        class="svg_img pro_svg" alt="edit" /></a></h6>
                                                    <ul>
                                                        <li><strong> </strong>"{{profile_data.bio}}"</li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End User profile section -->

    {% comment %} modal {% endcomment %}

    <!-- Modal -->
    <div class="modal fade" id="edit_modal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <div class="row">
                        <div class="ec-vendor-block-img space-bottom-30 p-4">
                      
                            <h4 style="text-align:center; margin-bottom:20px;"><b>Edit Profile</b></h4><div style="height:2px; background-color:#f7f7f7;"></div>
                            <div class="ec-vendor-upload-detail">
                                <form class="row g-3" method="POST" enctype="multipart/form-data">
                                    {% csrf_token %}
                                    <div class="col-md-6 space-t-15">
                                        <label class="form-label">Full Name</label>
                                        {{user_form.full_name }}
                                    </div>
                                    <div class="col-md-6 space-t-15">
                                        <label class="form-label">Email id</label>
                                        {{user_form.email }}
                                    </div>
                                    <div class="col-md-6 space-t-15">
                                        <label class="form-label">Mobile Number</label>
                                        {{user_form.phone_number }}
                                    </div>
                                    <div class="col-md-6 space-t-15">
                                        <label class="form-label">profile Picture</label>
                                        {{profile_form.profile_picture }}
                                    </div>


                                    <div class="col-md-12 space-t-15">
                                        <label class="form-label">Address Line 1</label>
                                        {{profile_form.address_line_1 }}
                                    </div>
                                    <div class="col-md-12 space-t-15">
                                        <label class="form-label">Address Line 2</label>
                                        {{profile_form.address_line_2 }}
                                    </div>
                                   
                                    <div class="col-md-6 space-t-15">
                                        <label class="form-label">City</label>
                                        {{profile_form.city }}
                                    </div>
                                    <div class="col-md-6 space-t-15">
                                        <label class="form-label">State</label>
                                        {{profile_form.state }}
                                    </div>
                                    <div class="col-md-6 space-t-15">
                                        <label class="form-label">Country</label>
                                        {{profile_form.country}}
                                    </div>
                                    <div class="col-md-6 space-t-15">
                                        <label class="form-label">Bio</label>
                                        {{profile_form.bio}}
                                    </div>
                                    <div class="col-md-12 space-t-15">
                                        <button type="submit" class="btn btn-primary rounded-3">Update</button>
                                        <a href="#" class="btn btn-lg  btn-secondary rounded-3  qty_close" data-bs-dismiss="modal"
                                            aria-label="Close">Close</a>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Modal end -->

    {% comment %} model ends here {% endcomment %}

    {% endblock %}