	
    {% load static%}
    <!-- Footer -->
			<footer class="footer mt-auto">
				<div class="copyright bg-white">
					<p>
						Copyright &copy; <span id="ec-year"></span><a class="text-primary"
						href="https://mohammedjaseem.me/" target="_blank"> Ekka Admin Dashboard</a>. All Rights Reserved.
					  </p>
				</div>
			</footer>

		</div> <!-- End Page Wrapper -->
	</div> <!-- End Wrapper -->

	<!-- Common Javascript -->
	<script src="{% static 'ekka_admin/assets/plugins/jquery/jquery-3.5.1.min.js' %}"></script>
	<script src="{% static 'ekka_admin/assets/plugins/jquery/jquery.notify.min.js' %}"></script>
	<script src="{% static 'ekka_admin/assets/plugins/jquery/jquery.bundle.notify.min.js' %}"></script>
	<script src="{% static 'ekka_admin/assets/js/bootstrap.bundle.min.js' %}"></script>
	<script src="{% static 'ekka_admin/assets/plugins/tags-input/bootstrap-tagsinput.js' %}"></script>
	<script src="{% static 'ekka_admin/assets/plugins/simplebar/simplebar.min.js' %}"></script>
	<script src="{% static 'ekka_admin/assets/plugins/jquery-zoom/jquery.zoom.min.js' %}"></script>
	<script src="{% static 'ekka_admin/assets/plugins/slick/slick.min.js' %}"></script>

	<!-- Chart -->
	<script src="{% static 'ekka_admin/assets/plugins/charts/Chart.min.js' %}"></script>
	<script src="{% static 'ekka_admin/assets/js/chart.js' %}"></script>

	<!-- Google map chart -->
	<script src="{% static 'ekka_admin/assets/plugins/charts/google-map-loader.js' %}"></script>
	<script src="{% static 'ekka_admin/assets/plugins/charts/google-map.js' %}"></script>

	<!-- Date Range Picker -->
	<script src="{% static 'ekka_admin/assets/plugins/daterangepicker/moment.min.js' %}"></script>
    <script src="{% static 'ekka_admin/assets/plugins/daterangepicker/daterangepicker.js' %}"></script>
	<script src="{% static 'ekka_admin/assets/js/date-range.js' %}"></script>

	<!-- Option Switcher -->
	<script src="{% static 'ekka_admin/assets/plugins/options-sidebar/optionswitcher.js' %}"></script>

	<!-- Ekka Custom -->
	<script src="{% static 'ekka_admin/assets/js/ekka.js' %}"></script>

	<!-- Data Tables -->
	<script src="{% static 'assets/plugins/data-tables/jquery.datatables.min.js' %}"></script>

	<script src="{% static 'assets/plugins/data-tables/datatables.bootstrap5.min.js' %}"></script>

	<script src="{% static 'assets/plugins/data-tables/datatables.responsive.min.js' %}"></script>



</body>

</html>