{% load static%}
<div class="ec-shop-leftside ec-vendor-sidebar col-lg-3 col-md-12">
    <div class="ec-sidebar-wrap">
        <!-- Sidebar Category Block -->
        <div class="ec-sidebar-block">
            <div class="ec-vendor-block">
                <!-- <div class="ec-vendor-block-bg"></div>
                <div class="ec-vendor-block-detail">
                    <img class="v-img" src="{% static 'ekka_webapp/assets/images/user/1.jpg' %}" alt="vendor image">
                    <h5>Mariana Johns</h5>
                </div> -->
                <div class="ec-vendor-block-items">
                    <ul>
                        
                        <li><a href="user_profile">User Profile</a></li>
                        <li><a href="dashboard">My Orders</a></li>
                        <li><a href="changePassword/"> Change Password</a></li>
                        {% comment %} <li><a href="checkout.html">Checkout</a></li>
                        <li><a href="track-order.html">Track Order</a></li>
                        <li><a href="user-invoice.html">Invoice</a></li> {% endcomment %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>