<!DOCTYPE html>
 {% load static%}

 <html lang="en">

<head>
     <meta charset="UTF-8">
     <meta http-equiv="x-ua-compatible" content="ie=edge" />
     <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
     
     <title>Ekka - Jassy.in</title>
     <meta name="keywords" content="apparel, catalog, clean, ecommerce, ecommerce HTML, electronics, fashion, html eCommerce, html store, minimal, multipurpose, multipurpose ecommerce, online store, responsive ecommerce template, shops" />
     <meta name="description" content="Best ecommerce html template for single and multi vendor store.">
     <meta name="author" content="ashishmaraviya">
     
    <!-- site Favicon -->
    <link rel="icon" href="{% static 'ekka_webapp/assets/images/favicon/favicon-8.png' %}" sizes="32x32" />
    <link rel="apple-touch-icon" href="{% static 'ekka_webapp/assets/images/favicon/favicon-8.png' %}" />
    <meta name="msapplication-TileImage" content="{% static 'ekka_webapp/assets/images/favicon/favicon-8.png' %}" />

    <!-- css Icon Font -->
    <link rel="stylesheet" href="{% static 'ekka_webapp/assets/css/vendor/ecicons.min.css' %}" />

    <!-- css All Plugins Files -->
    <link rel="stylesheet" href="{% static 'ekka_webapp/assets/css/plugins/animate.css' %}" />
    <link rel="stylesheet" href="{% static 'ekka_webapp/assets/css/plugins/swiper-bundle.min.css' %}" />
    <link rel="stylesheet" href="{% static 'ekka_webapp/assets/css/plugins/jquery-ui.min.css' %}" />
    <link rel="stylesheet" href="{% static 'ekka_webapp/assets/css/plugins/countdownTimer.css' %}" />
    <link rel="stylesheet" href="{% static 'ekka_webapp/assets/css/plugins/nouislider.css' %}" />
    <link rel="stylesheet" href="{% static 'ekka_webapp/assets/css/plugins/slick.min.css' %}" />
    <link rel="stylesheet" href="{% static 'ekka_webapp/assets/css/plugins/owl.carousel.min.css' %}" />
    <link rel="stylesheet" href="{% static 'ekka_webapp/assets/css/plugins/owl.theme.default.min.css' %}" />
    <link rel="stylesheet" href="{% static 'ekka_webapp/assets/css/plugins/bootstrap.css' %}" />

    <!-- Main Style -->
  
    <link rel="stylesheet" href="{% static 'ekka_webapp/assets/css/demo8.css' %}" />
    <link href='https://fonts.googleapis.com/css?family=Nunito' rel='stylesheet'>
    {% block extra_head %}
    
    {% endblock %}
    <style>
        body {
            font-family: 'Nunito';
        }
    </style>
    
</head>
<body style="font-family: 'Nunito';">

 {% include 'includes/navbar.html'%}   
{% block content %}


{% endblock %}
{% include 'includes/footer.html'%}   

    <!-- Vendor JS -->
    <script src="{% static 'ekka_webapp/assets/js/vendor/jquery-3.5.1.min.js' %}"></script>
	<script src="{% static 'ekka_webapp/assets/js/vendor/jquery.notify.min.js' %}"></script>
	<script src="{% static 'ekka_webapp/assets/js/vendor/jquery.bundle.notify.min.js' %}"></script>
    <script src="{% static 'ekka_webapp/assets/js/vendor/popper.min.js' %}"></script>
    <script src="{% static 'ekka_webapp/assets/js/vendor/bootstrap.min.js' %}"></script>
    <script src="{% static 'ekka_webapp/assets/js/vendor/jquery-migrate-3.3.0.min.js' %}"></script>
    <script src="{% static 'ekka_webapp/assets/js/vendor/modernizr-3.11.2.min.js' %}"></script>

    <!--Plugins JS-->
    
    <script src="{% static 'ekka_webapp/assets/js/plugins/jquery.sticky-sidebar.js' %}"></script>
    <script src="{% static 'ekka_webapp/assets/js/plugins/swiper-bundle.min.js' %}"></script>
    <script src="{% static 'ekka_webapp/assets/js/plugins/countdownTimer.min.js' %}"></script>
    <script src="{% static 'ekka_webapp/assets/js/plugins/nouislider.js' %}"></script>
    <script src="{% static 'ekka_webapp/assets/js/plugins/scrollup.js' %}"></script>
    <script src="{% static 'ekka_webapp/assets/js/plugins/jquery.zoom.min.js' %}"></script>
    <script src="{% static 'ekka_webapp/assets/js/plugins/slick.min.js' %}"></script>
    <script src="{% static 'ekka_webapp/assets/js/plugins/owl.carousel.min.js' %}"></script>
    <script src="{% static 'ekka_webapp/assets/js/plugins/infiniteslidev2.js' %}"></script>
    <script src="{% static 'ekka_webapp/assets/js/plugins/click-to-call.js' %}"></script>

    <!-- Main Js -->
    <script src="{% static 'ekka_webapp/assets/js/vendor/index.js' %}"></script>
    <script src="{% static 'ekka_webapp/assets/js/demo-8.js' %}"></script>
    <script src="{% static 'assets/js/main.js' %}"></script>

    {% comment %} paypal script here {% endcomment %}
    
    


</body>
</html>




