{% extends 'base.html' %}
{% load static%}


{% block extra_head %}
<link rel="stylesheet" id="bg-switcher-css" href="{% static 'ekka_webapp/assets/css/backgrounds/bg-4.css'%}">
<link rel="stylesheet" href="{% static 'ekka_webapp/assets/css/style.css'%}" />
<link rel="stylesheet" href="{% static 'ekka_webapp/assets/css/responsive.css'%}" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<!-- css Icon Font -->
<link rel="stylesheet" href="{% static 'ekka_webapp/assets/css/vendor/ecicons.min.css'%}" />

<!-- css All Plugins Files -->
<link rel="stylesheet" href="{% static 'ekka_webapp/assets/css/plugins/animatecss'%}" />
<link rel="stylesheet" href="{% static 'ekka_webapp/assets/css/plugins/swiper-bundle.mincss'%}" />
<link rel="stylesheet" href="{% static 'ekka_webapp/assets/css/plugins/jquery-ui.min.css'%}" />
<link rel="stylesheet" href="{% static 'ekka_webapp/assets/css/plugins/countdownTimer.css'%}" />
<link rel="stylesheet" href="{% static 'ekka_webapp/assets/css/plugins/slick.min.css'%}" />
<link rel="stylesheet" href="{% static 'ekka_webapp/assets/css/plugins/nouislider.css'%}" />
<link rel="stylesheet" href="{% static 'ekka_webapp/assets/css/plugins/bootstrap.css'%}" />

<!-- Main Style -->
<link rel="stylesheet" href="{% static 'ekka_webapp/assets/css/style.css'%}" />
<link rel="stylesheet" href="{% static 'ekka_webapp/assets/css/responsive.css'%}" />

{% endblock %}



{% block content %}


    
    <!-- Ec breadcrumb start -->
    <div class="sticky-header-next-sec  ec-breadcrumb section-space-mb">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="row ec_breadcrumb_inner">
                        <div class="col-md-6 col-sm-12">
                            <h2 class="ec-breadcrumb-title">Single Products</h2>
                        </div>
                        <div class="col-md-6 col-sm-12">
                            <!-- ec-breadcrumb-list start -->
                            <ul class="ec-breadcrumb-list">
                                <li class="ec-breadcrumb-item"><a href="index.html">Home</a></li>
                                <li class="ec-breadcrumb-item active">Products</li>
                            </ul>
                            <!-- ec-breadcrumb-list end -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Ec breadcrumb end -->

    <!-- Sart Single product -->
    <section class="ec-page-content section-space-p">
        <div class="container">
            <div class="row">
                <div class="ec-pro-rightside ec-common-rightside col-lg-12 col-md-12">

                    <!-- Single product content Start -->
			
			<form action="{% url 'add_cart' product.id%}" method = "POST">
                        {% csrf_token %} 


                    <div class="single-pro-block">
                        <div class="single-pro-inner">
                            <div class="row">
                                <div class="single-pro-img single-pro-img-no-sidebar">
                                    <div class="single-product-scroll">
                                         <div class="single-product-cover">
                                            <div class="single-slide zoom-image-hover">
                                                <img class="img-responsive" src="{{product.Image_1.url}}"
                                                    alt="">
                                            </div>
                                            <div class="single-slide zoom-image-hover">
                                                <img class="img-responsive" src="{{product.Image_2.url}}"
                                                    alt="">
                                            </div>
                                            <div class="single-slide zoom-image-hover">
                                                <img class="img-responsive" src="{{product.Image_3.url}}"
                                                    alt="">
                                            </div>
                                            <div class="single-slide zoom-image-hover">
                                                <img class="img-responsive" src="{{product.Image_4.url}}"
                                                    alt="">
                                            </div>
                                            <div class="single-slide zoom-image-hover">
                                                <img class="img-responsive" src="{{product.Image_5.url}}"
                                                    alt="">
                                            </div>
                                        </div> 
                                        <div class="single-nav-thumb">
                                            <div class="single-slide">
                                                <img class="img-responsive" src="{{product.Image_1.url}}"
                                                    alt="">
                                            </div>
                                            <div class="single-slide">
                                                <img class="img-responsive" src="{{product.Image_2.url}}"
                                                    alt="">
                                            </div> 
                                            <div class="single-slide">
                                                <img class="img-responsive" src="{{product.Image_3.url}}"
                                                    alt="">
                                            </div>
                                            <div class="single-slide">
                                                <img class="img-responsive" src="{{product.Image_4.url}}"
                                                    alt="">
                                            </div>
                                            <div class="single-slide">
                                                <img class="img-responsive" src="{{product.Image_5.url}}"
                                                    alt="">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="single-pro-desc single-pro-desc-no-sidebar">
                                    <div class="single-pro-content">
                                        <h5 class="ec-single-title">{{product.product_name}}</h5>
                                        <div class="ec-single-rating-wrap">
                                            <div class="ec-single-rating">
                                                <i class="ecicon eci-star fill"></i>
                                                <i class="ecicon eci-star fill"></i>
                                                <i class="ecicon eci-star fill"></i>
                                                <i class="ecicon eci-star fill"></i>
                                                <i class="ecicon eci-star-o"></i>
                                            </div>
                                            <span class="ec-read-review"><a href="#ec-spt-nav-review">Be the first to
                                                    review this product</a></span>
                                        </div>
                                        <div class="ec-single-desc">{{product.short_desp}}</div>

                                        <div class="ec-single-sales">
                                            <div class="ec-single-sales-inner">
                                                <div class="ec-single-sales-title">sales accelerators</div>
                                                <div class="ec-single-sales-visitor">real time <span>24</span> visitor
                                                    right now!</div>
                                                <div class="ec-single-sales-progress">
                                                    <span class="ec-single-progress-desc">Hurry up!left 29 in
                                                        stock</span>
                                                    <span class="ec-single-progressbar"></span>
                                                </div>
                                                <div class="ec-single-sales-countdown">
                                                    <div class="ec-single-countdown"><span
                                                            id="ec-single-countdown"></span></div>
                                                    <div class="ec-single-count-desc">Time is Running Out!</div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="ec-single-price-stoke">
                                            <div class="ec-single-price">
                                                <span class="ec-single-ps-title">As low as</span>
                                                <span class="new-price">?{{product.price}}</span>
                                            </div>
                                            <div class="ec-single-stoke">
                                                <span class="ec-single-ps-title">IN STOCK</span>
                                                <span class="ec-single-sku"># {{product.stock}} Units</span>
                                            </div>
                                        </div>
                             
                                        {% comment %} <div class="ec-pro-variation">
                                           <div class="ec-pro-variation-inner ec-pro-variation-size">
                                                <span>SIZE</span>
                                                <div class="ec-pro-variation-content">
                                                    <ul>
                                                        <li class="active"><span>7</span></li>
                                                        <li><span>8</span></li>
                                                        <li><span>9</span></li>
                                                    </ul>
                                                </div>
                                            </div>
                                            <div class="ec-pro-variation-inner ec-pro-variation-color">
                                                <span>Color</span>
                                                <div class="ec-pro-variation-content">
                                                    <ul>
                                                        <li class="active"><span
                                                                style="background-color:#23839c;"></span></li>
                                                        <li><span style="background-color:#000;"></span></li>
                                                    </ul>
                                                </div>
                                            </div>  {% endcomment %}

                                            {% comment %} Varition start here {% endcomment %}
                                        
                                        <div class="ec-pro-variation">
                                            <div class="d-inline-block justify-content-center">
                                            <div class="ec-pro-variation-inner ec-pro-variation-color">
                                                <span>Select Color & Size</span>
                                                <div class="ec-pro-variation-content">
                                                    <select name="color" class="active btn btn-info" style="border-radius:15px; color:black; text-align:left;" required>
                                                        <option  value="" disabled selected style="">Choose color </option>
                                                        {% for i in product.variation_set.colors %}
                                                        <option value="{{i.Variation_value | lower }}">{{i.Variation_value }}</option>
                                                        {% endfor %}
                                                    </select>
                                                    <select name="size" class="active btn ml-2" style="border-radius:15px; background-color:#8f918f ;  color:black; text-align:left;" required>
                                                        <option  value="" disabled selected style="" style="">Choose Size</option>
                                                        {% for i in product.variation_set.sizes %}
                                                        <option value="{{i.Variation_value  | lower}}">{{i.Variation_value }}</option>
                                                        {% endfor %}
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                        {% comment %} Variation ends here {% endcomment %}

                                        </div>
                                        <div class="ec-single-qty">
                                            {% comment %} <div class="qty-plus-minus">
                                                <input class="qty-input" type="text" name="ec_qtybtn" value="1" />
                                            </div> {% endcomment %}
                                            <div class="ec-single-cart ">
                                                <button class="btn btn-primary">Add To Cart</button>
                                            </div>
                                            <div class="ec-single-wishlist">
                                                <a class="ec-btn-group wishlist" title="Wishlist"><img
                                                        src="{% static 'ekka_webapp/assets/images/icons/wishlist.svg'%}" class="svg_img pro_svg"
                                                        alt="" /></a>
                                            </div>
                                            <div class="ec-single-quickview">
                                                <a href="#" class="ec-btn-group quickview" data-link-action="quickview"
                                                    title="Quick view" data-bs-toggle="modal"
                                                    data-bs-target="#ec_quickview_modal"><img
                                                        src="{% static 'ekka_webapp/assets/images/icons/quickview.svg'%}" class="svg_img pro_svg"
                                                        alt="" /></a>
                                            </div>
                                        </div>	
					</form>
                                        <div class="ec-single-social">
                                            <ul class="mb-0">
                                                <li class="list-inline-item facebook"><a href="#"><i
                                                            class="ecicon eci-facebook"></i></a></li>
                                                <li class="list-inline-item twitter"><a href="#"><i
                                                            class="ecicon eci-twitter"></i></a></li>
                                                <li class="list-inline-item instagram"><a href="#"><i
                                                            class="ecicon eci-instagram"></i></a></li>
                                                <li class="list-inline-item youtube-play"><a href="#"><i
                                                            class="ecicon eci-youtube-play"></i></a></li>
                                                <li class="list-inline-item behance"><a href="#"><i
                                                            class="ecicon eci-behance"></i></a></li>
                                                <li class="list-inline-item whatsapp"><a href="#"><i
                                                            class="ecicon eci-whatsapp"></i></a></li>
                                                <li class="list-inline-item plus"><a href="#"><i
                                                            class="ecicon eci-plus"></i></a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--Single product content End -->
                    <!-- Single product tab start -->
                    <div class="ec-single-pro-tab">
                        <div class="ec-single-pro-tab-wrapper">
                            <div class="ec-single-pro-tab-nav">
                                <ul class="nav nav-tabs">
                                    <li class="nav-item">
                                        <a class="nav-link active" data-bs-toggle="tab"
                                            data-bs-target="#ec-spt-nav-details" role="tablist">Detail</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" data-bs-toggle="tab" data-bs-target="#ec-spt-nav-info"
                                            role="tablist">More Information</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" data-bs-toggle="tab" data-bs-target="#ec-spt-nav-review"
                                            role="tablist">Reviews</a>
                                    </li>
                                </ul>
                            </div>
                            <div class="tab-content  ec-single-pro-tab-content">
                                <div id="ec-spt-nav-details" class="tab-pane fade show active">
                                    <div class="ec-single-pro-tab-desc">
                                        <p>{{product.description}}
                                        </p>
                                        <ul>
                                            <li>Any Product types that You want - Simple, Configurable</li>
                                            <li>Downloadable/Digital Products, Virtual Products</li>
                                            <li>Inventory Management with Backordered items</li>
                                            <li>Flatlock seams throughout.</li>
                                        </ul>
                                    </div>
                                </div>
                                <div id="ec-spt-nav-info" class="tab-pane fade">
                                    <div class="ec-single-pro-tab-moreinfo">
                                        <ul>
                                            <li><span>Weight</span> 1000 g</li>
                                            <li><span>Dimensions</span> 35 x 30 x 7 cm</li>
                                            <li><span>Color</span> Black, Pink, Red, White</li>
                                        </ul>
                                    </div>
                                </div>

                                <div id="ec-spt-nav-review" class="tab-pane fade">
                                    <div class="row">
                                        <div class="ec-t-review-wrapper">
                                            <div class="ec-t-review-item">
                                                <div class="ec-t-review-avtar">
                                                    <img src="{% static 'ekka_webapp/assets/images/review-image/1.jpg'%}" alt="" />
                                                </div>
                                                <div class="ec-t-review-content">
                                                    <div class="ec-t-review-top">
                                                        <div class="ec-t-review-name">Jeny Doe</div>
                                                        <div class="ec-t-review-rating">
                                                            <i class="ecicon eci-star fill"></i>
                                                            <i class="ecicon eci-star fill"></i>
                                                            <i class="ecicon eci-star fill"></i>
                                                            <i class="ecicon eci-star fill"></i>
                                                            <i class="ecicon eci-star-o"></i>
                                                        </div>
                                                    </div>
                                                    <div class="ec-t-review-bottom">
                                                        <p>Lorem Ipsum is simply dummy text of the printing and
                                                            typesetting industry. Lorem Ipsum has been the industry's
                                                            standard dummy text ever since the 1500s, when an unknown
                                                            printer took a galley of type and scrambled it to make a
                                                            type specimen.
                                                        </p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="ec-t-review-item">
                                                <div class="ec-t-review-avtar">
                                                    <img src="{% static 'ekka_webapp/assets/images/review-image/2.jpg'%}" alt="" />
                                                </div>
                                                <div class="ec-t-review-content">
                                                    <div class="ec-t-review-top">
                                                        <div class="ec-t-review-name">Linda Morgus</div>
                                                        <div class="ec-t-review-rating">
                                                            <i class="ecicon eci-star fill"></i>
                                                            <i class="ecicon eci-star fill"></i>
                                                            <i class="ecicon eci-star fill"></i>
                                                            <i class="ecicon eci-star-o"></i>
                                                            <i class="ecicon eci-star-o"></i>
                                                        </div>
                                                    </div>
                                                    <div class="ec-t-review-bottom">
                                                        <p>Lorem Ipsum is simply dummy text of the printing and
                                                            typesetting industry. Lorem Ipsum has been the industry's
                                                            standard dummy text ever since the 1500s, when an unknown
                                                            printer took a galley of type and scrambled it to make a
                                                            type specimen.
                                                        </p>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                        <div class="ec-ratting-content">
                                            <h3>Add a Review</h3>
                                            <div class="ec-ratting-form">
                                                <form action="#">
                                                    <div class="ec-ratting-star">
                                                        <span>Your rating:</span>
                                                        <div class="ec-t-review-rating">
                                                            <i class="ecicon eci-star fill"></i>
                                                            <i class="ecicon eci-star fill"></i>
                                                            <i class="ecicon eci-star-o"></i>
                                                            <i class="ecicon eci-star-o"></i>
                                                            <i class="ecicon eci-star-o"></i>
                                                        </div>
                                                    </div>
                                                    <div class="ec-ratting-input">
                                                        <input name="your-name" placeholder="Name" type="text" />
                                                    </div>
                                                    <div class="ec-ratting-input">
                                                        <input name="your-email" placeholder="Email*" type="email"
                                                            required />
                                                    </div>
                                                    <div class="ec-ratting-input form-submit">
                                                        <textarea name="your-commemt"
                                                            placeholder="Enter Your Comment"></textarea>
                                                        <button class="btn btn-primary" type="submit"
                                                            value="Submit">Submit</button>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- product details description area end -->
                </div>
            </div>
        </div>
    </section>
    <!-- End Single product -->




    <!-- Related Product Start -->
    <section class="section ec-releted-product section-space-p">
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center">
                    <div class="section-title">
                        <h2 class="ec-bg-title">Related products</h2>
                        <h2 class="ec-title">Related products</h2>
                        <p class="sub-title">Browse The Collection of Top Products</p>
                    </div>
                </div>
            </div>
            <div class="row margin-minus-b-30">
                <!-- Related Product Content -->
                {% for item in related_products %}
                <div class="col-lg-3 col-md-6 col-sm-6 col-xs-6 mb-6 pro-gl-content">
                    <div class="ec-product-inner">
                        <div class="ec-pro-image-outer">
                            <div class="ec-pro-image">
                                <a href="product-left-sidebar.html" class="image">
                                    <img class="main-image p-3"
                                        src="{{item.images.url}}" alt="Product" />
                                    <img class="hover-image"
                                        src="{{item.images.url}}" alt="Product" />
                                </a>
                            </div>
                        </div>
                        <div class="ec-pro-content p-2">
                            <h5 class="ec-pro-title "><a href="product-left-sidebar.html">{{item.product_name}}</a></h5>
                            <div class="ec-pro-rating">
                                <i class="ecicon eci-star fill p-2"></i>
                                <i class="ecicon eci-star fill p-2"></i>
                                <i class="ecicon eci-star fill p-2"></i>
                                <i class="ecicon eci-star fill p-2"></i>
                                <i class="ecicon eci-star p-2"></i>
                            </div>
                            <div class="px-3">{{item.short_desp}}</div>
                       
                            <span class="ec-price px-4 py-2">
                                <span class="old-price">?27.00</span>
                                <span class="new-price">?22.00</span>
                            </span>
                            
                        </div>
                    </div>
                </div>
                {% endfor%}
                
                
                
            </div>
        </div>
    </section>
    <!-- Related Product end -->

        <!-- Vendor JS -->
        <script src="{% static 'ekka_webapp/assets/js/vendor/jquery-3.5.1.min.js'%}"></script>
        <script src="{% static 'ekka_webapp/assets/js/vendor/jquery.notify.min.js'%}"></script>
        <script src="{% static 'ekka_webapp/assets/js/vendor/jquery.bundle.notify.min.js'%}"></script>
        <script src="{% static 'ekka_webapp/assets/js/vendor/popper.min.js'%}"></script>
        <script src="{% static 'ekka_webapp/assets/js/vendor/bootstrap.min.js'%}"></script>
        <script src="{% static 'ekka_webapp/assets/js/vendor/jquery-migrate-3.3.0.min.js'%}"></script>
        <script src="{% static 'ekka_webapp/assets/js/vendor/modernizr-3.11.2.min.js'%}"></script>
    
        <!--Plugins JS-->
        <script src="{% static 'ekka_webapp/assets/js/plugins/swiper-bundle.min.js'%}"></script>
        <script src="{% static 'ekka_webapp/assets/js/plugins/countdownTimer.min.js'%}"></script>
        <script src="{% static 'ekka_webapp/assets/js/plugins/scrollup.js'%}"></script>
        <script src="{% static 'ekka_webapp/assets/js/plugins/jquery.zoom.min.js'%}"></script>
        <script src="{% static 'ekka_webapp/assets/js/plugins/slick.min.js'%}"></script>
        <script src="{% static 'ekka_webapp/assets/js/plugins/infiniteslidev2.js'%}"></script>
        <script src="{% static 'ekka_webapp/assets/js/vendor/jquery.magnific-popup.min.js'%}"></script>
        <script src="{% static 'ekka_webapp/assets/js/plugins/jquery.sticky-sidebar.js'%}"></script>
        <!-- Google translate Js -->
        <script src="{% static 'ekka_webapp/assets/js/vendor/google-translate.js'%}"></script>
    
        <!-- Main Js -->
        <script src="{% static 'ekka_webapp/assets/js/vendor/index.js'%}"></script>
        <script src="{% static 'ekka_webapp/assets/js/main.js'%}"></script>
    





{% endblock %}